<h1>Criteria Types</h1>

<ul>
  <% @criteria.group_by(&:type).each do |type, criteria| %>
    <li><%= link_to type, :anchor => type.to_s.underscore %></li>
  <% end %>
</ul>
<br/><br/>
<div>
  <% @criteria.group_by(&:type).each do |type, criteria| %>
  <div id="<%= type.to_s.underscore %>">
    <h4><a name="<%= type.to_s.underscore %>"><%=h type.to_s.titleize %></a></h4>
    <%= render :partial => 'criterium', :collection => criteria %>
  </div>
  <br/><br/>
  <% end %>
</div>

<%= render :partial => 'sidebar' %>
