  <% count = 1 %>
  <% @states.each do |region| %>
  <div class="span-3 <%= count % 6 == 0 ? ' last' : '' %>">
    <div class="configurable">
      <h4><%=h region.name %></h4>
      <%= render :partial => 'links', :object => region %>
    </div>
    <% if region.states.count > 0 %>
      <% region.states.each do |state| %>
      <div class="configurable">
        <p><%=h state.name %></p>
        <%= render :partial => 'links', :object => state %>
      </div>
      <% end %>
    <% end %>
  </div>
  <% count += 1 %>
  <% end %>

<%= render :partial => 'sidebar' %>