<% conditions = @summary_report.objective_id.blank? ? {} : {:objective_id => @summary_report.objective_id} %>
<div style="padding-bottom: 15px;text-align:center;">
  <div style="text-align: left; width: 49%; display: inline-block;">
    <img alt="logo" src="<%= @logo_path || image_path('logo.jpg') %>" width="175px" />
  </div>
  <div style="text-align: right; width: 49%; display: inline-block; vertical-align: top;">
    <h1><%= @summary_report.report_title %></h1>
  </div>
</div>
<table class="always_break">
  <thead>
    <tr>
      <th rowspan="2">Technical Assistance Summary</th>
      <th colspan="2" class="count" style="width:500px;">Number of States Participating in Activities</th>
    </tr>
    <tr>
      <th class="count"><%= @summary_report.summary_date_to_s %></th>
      <th class="count">Year to Date<br/>(<%= @summary_report.ytd_date_to_s %>)</th>
    </tr>
  </thead>
  <tbody>
    <% bad_activities = @summary_report.activities_by_type_for_period(conditions.merge({:grant_activities => []})) %>
    <% unless bad_activities.empty? %>
      <tr>
        <td colspan="3">
          Warning: The following activities are not associated with a Grant Activity
        </td>
      </tr>
      <% bad_activities.each do |bad_act| %>
        <% next if bad_act.states.size < 1 %>
        <tr>
          <td style="padding-left: 30px;">
            <%= link_to truncate(bad_act.description, :length => 70), bad_act %>
            <% unless bad_act.states.empty? %>
              <div style="padding-left: 20px;">
                <em>States:</em>
                <%= bad_act.states.map(&:abbreviation).join(", ") %>
              </div>
            <% end %>
          </td>
          <td class="count">
            <%= bad_act.states.size %>
          </td>
          <td></td>
        </tr>
      <% end %>
    <% end %>    
        
    <% @intensity_levels.each do |intensity_level| %>
      <% conditions.merge!({:intensity_level => intensity_level}) %>
      <% unless @summary_report.activities_by_type_for_ytd(conditions).empty? %>
        <tr>
          <td colspan="3">
            <%= intensity_level.name %>
          </td>
        </tr>
        <% @grant_activities.each do |grant_activity| %>
          <% conditions.merge!({:grant_activity => grant_activity}) %>
          <% next if @summary_report.states_by_type_for_period(conditions).size < 1 %>

          <% unless @summary_report.activities_by_type_for_ytd(conditions).empty? %>
            <tr>
              <td style="padding-left: 30px;">
                <%= @summary_report.activities_by_type_for_period(conditions).size %> 
                <%= grant_activity.name %>

                <% unless @summary_report.states_by_type_for_period(conditions).empty? %>
                  <div style="padding-left: 20px;">
                    <em>States:</em>
                    <%= @summary_report.states_by_type_for_period(conditions).
                            map(&:abbreviation).join(", ") %>
                  </div>
                <% end %>
              </td>
              <td class="count">
                <%= @summary_report.states_by_type_for_period(conditions).size %>
              </td>
              <td class="count">
                <%= @summary_report.states_by_type_for_ytd(conditions).size %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td style="border-top: 1px solid #333;" class="small_title">
        <strong>Total Number of States receiving some type of TA during <%= @summary_report.summary_date_to_s %></strong><br/>
        <em>States:</em> <%= @summary_report.states_by_type_for_period.map(&:abbreviation).join(", ") %></em>
      </td>
      <td style="border-top: 1px solid #333;" class="count">
        <%= @summary_report.states_by_type_for_period.size %>
      </td>
      <td style="border-top: 1px solid #333" class="count">
      </td>
    </tr>
    <tr>
      <td style="border-top: 1px solid #333;" class="small_title">
        <strong>Total Number of States receiving some type of TA during <%= @summary_report.ytd_date_to_s %></strong><br/>
        <em>States:</em> <%= @summary_report.states_by_type_for_ytd.map(&:abbreviation).join(", ") %></em>
      </td>
      <td style="border-top: 1px solid #333">
      </td>
      <td style="border-top: 1px solid #333" class="count">
        <%= @summary_report.states_by_type_for_ytd.size %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div style="display: inline-block; width: 49%;">
          <p style="font-weight: bold; text-align: center;">Current: <%= @summary_report.start_period.strftime("%b %Y") %></p>
          <img class="map_image" src="<%= @summary_map_path %>" alt="summary_map" />
        </div>
        <div style="display: inline-block; width: 49%;">
          <p style="font-weight: bold; text-align: center;">YTD: <%= @summary_report.start_ytd.strftime("%b %Y") %></p>
          <img class="map_image" src="<%= @ytd_summary_map_path %>" alt="ytd_map" />
        </div>
        <div style="clear:both; text-align:center;">
          <table cellspacing="5px" class="map_legend" style="width: 80%; margin-left: auto; margin-right: auto; border: none; font-size: 85%" width="80%" border="0">
            <tr>
              <td><em>Map Legend:</em></td>
              <% SummaryReport::LEVEL_COLORS.each do |num, color| %>
                <% il = IntensityLevel.find_by_number(num) %>
                <% if il %>
                  <td style="background: <%= color %>; text-align:center;">
                    <%= il.name %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
