<h1>New summary_report</h1>

<% form_for(@summary_report) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_ytd %><br />
    <%= f.date_select :start_ytd %>
  </p>
  <p>
    <%= f.label :start_period %><br />
    <%= f.date_select :start_period %>
  </p>
  <p>
    <%= f.label :end_period %><br />
    <%= f.date_select :end_period %>
  </p>
  <p>
    <%= f.label :report_title_format %><br />
    <%= f.text_field :report_title_format %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', summary_reports_path %>