<div style="float: right; padding-bottom: 15px;">
  <span class="fake_button">
    <%= 
      link_to_unless(params[:activity_search], "Download CSV", download_activities_path(:format => :csv)) do |name| 
        link_to name, download_activities_path({:activity_search => params[:activity_search], :format => :csv}) 
      end 
    %>
  </span>
</div>
<%= form_for @search, :url => activities_path, :html => {:method => :get} do |form| %>
  <table>
      <tr>
        <th><%= form.label :start_date, 'Start Date' %></th>
        <th><%= form.label :end_date, 'End Date' %></th>
        <th><%= form.label :objective_id, 'Objective' %></th>
      </tr>
      <tr>
        <td><%= form.date_select :start_date  %></td>
        <td><%= form.date_select :end_date %></td>
        <td><%= form.select :objective_id, @objectives.map{|o| [truncate(o.display_name, :length => 30), o.id]}, 
                  :include_blank => true %></td>
      </tr>
      <tr>
        <th><%= form.label :ta_delivery_method_id, 'Delivery Method' %></th>
        <th><%= form.label :intensity_level_id, 'Intensity Level' %></th>
        <th><%= form.label :grant_activity_id, 'Grant Activity' %></th>
      </tr>
      <tr>
        <td><%= form.select :ta_delivery_method_id, @ta_delivery_methods.map{|a| [truncate(a.name, :length => 30), a.id]}, 
                  :include_blank => true %></td>
        <td><%= form.select :intensity_level_id, @intensity_levels.map{|i| [i.name, i.id]}, :include_blank => true %></td>
        <td><%= form.select :grant_activity_id, @grant_activities.map{|g| [truncate(g.name, :length => 30), g.id]},
                  :include_blank => true %></td>
      </tr>
      <tr>
        <th><%= form.label :ta_category_id, 'TA Category' %></th>
        <th><%= form.label :collaborating_agency_id, 'Collaborating Agency' %></th>
        <th><%= form.label :state_id %></th>
      </tr>
      <tr>
        <td><%= form.select :ta_category_id, @ta_categories.map{|c| [truncate(c.name, :length => 30), c.id]},
                :include_blank => true %></td>
        <td>
          <%= form.select :collaborating_agency_id, @collaborating_agencies.map{|a| [truncate(a.name, :length => 30), a.id]},
                :include_blank => true %>
        </td>
        <td>
          <%= form.select :state_id, @states.map{|s| [truncate(s.name, :length => 30), s.id]},
                :include_blank => true %>
        </td>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th><%= form.label :keywords %></th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><%= form.text_field :keywords, :style => "width: 150px" %> <%= form.submit "search" %></td>
      </tr>
  </table>
<% end %>