<h1><%= @search.name %></h1>
<div class="right">
  <form id="preview_report" action="<%= reports_path %>" method="get" accept-charset="utf-8">
    <input type="hidden" id="preview_report_start_date" name="activity_search[start_date]" value="<%= @search.start_date %>">
    <input type="hidden" id="preview_report_end_date" name="activity_search[end_date]" value="<%= @search.end_date %>">
    <label for="report_id">Preview Report</label>
    <select name="id" id="report_id">
      <%= options_from_collection_for_select(Report.all, :id, :name) %>
    </select><br>
    <input style="float: right;" type="submit" name="view" value="Full"> 
    <input style="float: right;" type="submit" name="view" value="Summary">
    <input style="float: right;" type="submit" name="view" value="Counts By State">
  </form>
</div>
<div class="left">
  <p style="padding-top: 5px; margin-right: 5px;" class="medium_text">
  <span class="fake_button" style="font-size: 12px;">
    <%=
      link_to_unless(params[:activity_search], "View Evaluation", evaluate_activities_path) do |name|
        link_to name, evaluate_activities_path(:activity_search => params[:activity_search])
      end
    %>
  </span>
  <span style="margin-left: 5px; font-size: 12px;" class="fake_button">
    <%= 
      link_to_unless(params[:activity_search], "Download CSV", download_activities_path(:format => :csv)) do |name| 
        link_to name, download_activities_path({:activity_search => params[:activity_search], :format => :csv}) 
      end 
    %>
  </span>
  </p>
</div>
<div style="margin-top: 75px;">
  <hr>
  <%= render :partial => 'activities/search' %>
</div>

<span class="note">click a header to sort</span>
<table class="nice_table sortable" id="activities_table" style="width:100%">
<thead>
  <tr>
    <th>Date</th>
    <th>Obj</th>
    <th>Grant Activity</th>
    <th>Delivery Method</th>
    <th>Intensity</th>
    <th>Description &nbsp; <em style="font-weight:normal">(click to edit)</em></th>
    <th>&nbsp;</th>
  </tr>
</thead>

<tbody>
  <% color_class = "dark" %>
  <% @activities.each do |activity| %>
    <% color_class = color_class == "light" ? "dark" : "light" %>
    <tr class="row_<%= color_class %>">
      <td style="white-space:nowrap">
        <%= activity.date_of_activity.strftime "%m/%d/%y" %>
      </td>
      <td>
        <%= activity.objective.number %>
      </td>
      <td>
        <%= activity.grant_activities.map(&:name).map {|ga| truncate(ga, :length => 50) }.join('; ') %>
      </td>
      <td>
        <% unless activity.ta_delivery_method.blank? %>
          <%= activity.ta_delivery_method.name %>
        <% end %>
      </td>
      <td>
        <%= activity.intensity_level ? activity.intensity_level.name : 'N/A' %>
      </td>
      <td>
        <%= link_to truncate(activity.description, :length => 75), 
              edit_activity_path(activity) %>
      </td>
      <td>
        <%= link_to "X", activity_path(activity), :title => 'Delete', :method => :delete, :confirm => "Permanently delete selected activity?" %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<%= render :partial => 'sidebar' %>

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function()
	{
		$("#activities_table").tablesorter();
	}
);
</script>
<% end %>
