<h1>Activities</h1>

<div>
  <% form_for @search, :url => activities_path, :html => {:method => :get} do |form| %>
    <table>
        <tr>
          <th><%= form.label :start_date %></th>
          <th><%= form.label :end_date %></th>
          <th><%= form.label :objective_id %></th>
        </tr>
        <tr>
          <td><%= form.calendar_date_select :start_date, :size => 20, :buttons => false %></td>
          <td><%= form.calendar_date_select :end_date, :size => 20, :buttons => false %></td>
          <td><%= form.select :objective_id, @objectives.map{|o| [truncate(o.display_name, :length => 30),o.id.to_s]}, :include_blank => true %></td>
        </tr>
        <tr>
          <th><%= form.label :activity_type_id %></th>
          <th><%= form.label :intensity_level_id %></th>
          <th><%= form.label :keywords %></th>
        </tr>
        <tr>
          <td><%= form.select :activity_type_id, @activity_types.map{|a| [truncate(a.name, :length => 30), a.id.to_s]}, :include_blank => true %></td>
          <td><%= form.select :intensity_level_id, @intensity_levels.map{|i| [i.name, i.id.to_s]}, :include_blank => true %></td>
          <td><%= form.text_field :keywords, :style => "width: 150px" %> <%= form.submit "search" %></td>
        </tr>
    </table>
  <% end %>
</div>

<span class="note">click a header to sort</span>
<table class="nice_table sortable" id="activities_table" style="width:100%">
<!--  <thead> -->
    <th>Date</th>
    <th>Obj</th>
    <th>Type</th>
    <th>Intensity</th>
    <th>Description</th>
    <th>&nbsp;</th>
<!--  </thead> -->

<!--  <tbody> -->
  <% color_class = "dark" %>
  <% @activities.each do |activity| %>
    <% color_class = color_class == "light" ? "dark" : "light" %>
    <tr class="row_<%= color_class %>">
      <td style="white-space:nowrap">
        <%= activity.date_of_activity.strftime "%m/%d/%y" %>
      </td>
      <td>
        <%= activity.objective.number %>
      </td>
      <td>
        <%= activity.activity_type.name %>
      </td>
      <td>
        <%= activity.intensity_level.name %>
      </td>
      <td>
        <%= link_to truncate(activity.description, :length => 75), 
              edit_activity_path(activity) %>
      </td>
      <td>
        <%= link_to "Delete", activity_path(activity), :method => :delete, :confirm => "Permanently delete selected activity?" %>
      </td>
    </tr>
  <% end %>
<!--  </tbody> -->
</table>


<%= render :partial => 'sidebar' %>

<% content_for :javascript do %>
<script type="text/javascript">
  Event.observe(window, 'load', function() {
    Event.addBehavior({
      '#activities_table': SortableTable
    })
  })
</script>
<% end %>
