<h1>Activities</h1>

<div>
  <%= render :partial => 'activities/search' %>
</div>

<span class="note">click a header to sort</span>
<table class="nice_table sortable" id="activities_table" style="width:100%">
<thead>
  <tr>
    <th>Date</th>
    <th>Obj</th>
    <th>Grant Activity</th>
    <th>Delivery Method</th>
    <th>Intensity</th>
    <th>Description &nbsp; <em style="font-weight:normal">(click to edit)</em></th>
    <th>&nbsp;</th>
  </tr>
</thead>

<tbody>
  <% color_class = "dark" %>
  <% @activities.each do |activity| %>
    <% color_class = color_class == "light" ? "dark" : "light" %>
    <tr class="row_<%= color_class %>">
      <td style="white-space:nowrap">
        <%= activity.date_of_activity.strftime "%m/%d/%y" %>
      </td>
      <td>
        <%= activity.objective.number %>
      </td>
      <td>
        <%= activity.grant_activities.map(&:name).map {|ga| truncate(ga, :length => 50) }.join('; ') %>
      </td>
      <td>
        <% unless activity.ta_delivery_method.blank? %>
          <%= activity.ta_delivery_method.name %>
        <% end %>
      </td>
      <td>
        <%= activity.intensity_level ? activity.intensity_level.name : 'N/A' %>
      </td>
      <td>
        <%= link_to truncate(activity.description, :length => 75), 
              edit_activity_path(activity) %>
      </td>
      <td>
        <%= link_to "X", activity_path(activity), :title => 'Delete', :method => :delete, :confirm => "Permanently delete selected activity?" %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<%= render :partial => 'sidebar' %>

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function()
	{
		$("#activities_table").tablesorter();
	}
);
</script>
<% end %>
