<% grantless_activities = @summary_report.period_activities.all.select{|a| a.grant_activities.empty?} %>
<% unless grantless_activities.empty? %>
  <tr class="report_warning">
    <td colspan="3">
      <p>Warning: The following activities are not associated with a Grant Activity</p>
    </td>
  </tr>
  <% grantless_activities.each do |grantless_act| %>
    <% next if grantless_act.states.size < 1 %>
    <tr>
      <td style="padding-left: 30px;">
        <%= link_to truncate(grantless_act.description, :length => 70), grantless_act %>
        <% unless grantless_act.states.empty? %>
          <div style="padding-left: 20px;">
            <em>States:</em>
            <%= grantless_act.states.map(&:abbreviation).sort.to_sentence %>
          </div>
        <% end %>
      </td>
      <td class="count">
        <%= grantless_act.states.size %>
      </td>
      <td></td>
    </tr>
  <% end %>
<% end %>

<% intensityless_activities = @summary_report.period_activities.where('activities.intensity_level_id' => nil) %>
<% unless intensityless_activities.empty? %>
  <tr class="report_warning">
    <td colspan="3">
      <p>Warning: The following activities have no Intensity Level.</p>
      <p>This means they may not be represented on the maps below.</p>
    </td>
  </tr>
  <% intensityless_activities.each do |intensityless_act| %>
    <% next if intensityless_act.states.size < 1 %>
    <tr>
      <td style="padding-left: 30px;">
        <%= link_to truncate(intensityless_act.description, :length => 70), intensityless_act %>
        <% unless intensityless_act.states.empty? %>
          <div style="padding-left: 20px;">
            <em>States:</em>
            <%= intensityless_act.states.map(&:abbreviation).sort.to_sentence %>
          </div>
        <% end %>
      </td>
      <td class="count">
        <%= intensityless_act.states.size %>
      </td>
      <td></td>
    </tr>
  <% end %>
<% end %>
