<% color_class = report_counter % 2 == 0 ? "dark" : "light" %>
<tr id="<%= "report_#{report.name.parameterize}" %>" class="row_<%= color_class %>">
  <td>
    <%=h report.name %><br />
    <span class="fake_button"><%= link_to "Edit", edit_report_path(report.id) %></span>
    <span class="fake_button"><%= link_to "Delete", report_path(report.id), :method => :delete, :confirm => "Delete #{report.name}?" %></span>
  </td>
  <% objectives.each do |objective| %>
  <td>
    <% report_breakdown = report.report_breakdowns.find_by_objective_id(objective.id) %>
    <% if report_breakdown %>
      <em>Included</em> <br />
      <%= "Broken down by: #{report_breakdown.breakdown_type}<br />" unless report_breakdown.breakdown_type.blank? %>
      <%= report_breakdown.include_states ? 'includes' : 'omits' %> states
    <% else %>
      <em>Not included</em>
    <% end %>
  </td>
  <% end %>
</tr>  
<tr id="<%= "report_#{report.name.parameterize}_dates" %>" class="row_<%= color_class %>">
  <td style="text-align: right;" colspan="5">
    <% form_tag(report_path(report), :method => :get, :style => "display: inline;") do %>
      Start: 
      <%= select_month Date.current, {:use_short_month => true}, {:name => "start_month"} %>
      <%= select_year Date.current, {}, {:name => "start_year"} %>
      End: 
      <%= select_month Date.current, {:use_short_month => true}, {:name => "end_month"} %>
      <%= select_year Date.current, {}, {:name => "end_year"} %>
      <%= submit_tag "Preview", :class => "fake_button" %>
    <% end %>
  </td>
</tr>