<% color_class = report_counter % 2 == 0 ? "dark" : "light" %>
<tr id="<%= "report_#{report.name.parameterize}" %>" class="row_<%= color_class %>">
  <td>
    <%= report.name %><br />
    <span class="fake_button"><%= link_to "Edit", edit_report_path(report.id) %></span>
    <span class="fake_button"><%= link_to "Delete", report_path(report.id), :method => :delete, :confirm => "Delete #{report.name}?" %></span>
  </td>
  <% objectives.each do |objective| %>
  <td>
    <% report_breakdown = report.report_breakdowns.find_by_objective_id(objective.id) %>
    <% if report_breakdown %>
      <em>Included</em> <br />
      <% unless report_breakdown.breakdown_type.blank? %>
        <%= "Broken down by: #{report_breakdown.breakdown_type}" %><br />
      <%- end -%>
      <%= report_breakdown.include_states ? 'includes' : 'omits' %> states
    <% else %>
      <em>Not included</em>
    <% end %>
  </td>
  <% end %>
</tr>  
<tr id="<%= "report_#{report.name.parameterize}_dates" %>" class="row_<%= color_class %>">
  <td style="text-align: right;" colspan="5">
    Using Summary Report Period:
    <%= form_tag(report_path(report), :method => :get, :style => "display: inline;") do %>
      <%= select_tag 'summary_report_id', "<option value=\"\">Select one</option>".html_safe + options_from_collection_for_select(@summary_reports, :id, :name) %>
      <%= submit_tag "Preview", :class => "fake_button" %>
    <% end %>
  </td>
</tr>