<h1>Counts by state (<%= @report.name %>)</h1>
<h2><%= @search.name %></h2>

<span class="fake_button">
  <%= link_to("< Search Results", activities_path(:activity_search => params[:activity_search])) %>
</span>
<span class="fake_button">
   <%= link_to "Download CSV", counts_export_reports_path({:activity_search => params[:activity_search], :format => :csv, :id => 1}) %>
</span>

<table class="nice_table">
  <thead>
    <tr>
      <th rowspan="2">State</th>
      <th rowspan="2" class="count">Activity Count</th>
      <th colspan="5" class="count" style="background: #DDA">Intensity Breakdown</th>
    </tr>
    <tr>
      <th>Non-TA</th>
      <% @intensity_levels.each do |il| %>
        <th><%= il.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% row_color = 'light' %>
  <% @states.each do |state| %>
    <% acts = @activities.select { |act| act.states.include?(state) } %>
    <tr class="row_<%= row_color %>">
      <td><%= state.name %></td>
      <td class="count"><%= acts.count %></td>
      <td class="count">
        <%= acts.select { |a| a.intensity_level.blank? }.size %>
      </td>
      <% @intensity_levels.each do |il| %>
        <td class="count">
          <%= acts.select { |a| a.intensity_level == il }.size %>
        </td>
      <% end %>
    </tr>
    <% row_color = (row_color == 'light' ? 'dark' : 'light') %>
  <% end %>
  </tbody>
</table>
