<h1>Previewing <%=h @report.name %></h1>
<p>
  <strong>Download Full Report:</strong> <%= link_to "CSV", export_report_path(@report) %>
</p>
<div>
  <p>
    <strong>Download Period Report:</strong>
    <% form_tag(export_report_path(@report), :style => "display: inline;") do %>
    <table>
      <th>Start period</th>
      <th>End period</th>
      <th>&nbsp;</th>
      <tr>
        <td>
          <%= select_month Date.current.months_ago(3), {:use_short_month => true}, {:name => "report[start_month]"} %>
          <%= select_year Date.current.months_ago(3), {}, {:name => "report[start_year]"} %>
        </td>
        <td>
          <%= select_month Date.current, {:use_short_month => true}, {:name => "report[end_month]"} %>
          <%= select_year Date.current, {}, {:name => "report[end_year]"} %>
        </td>
        <td>
          <%= submit_tag "Download CSV" %>
        </td>
      </tr>
      <tr>
        <td>Starts the first day of the month</td>
        <td>Ends the last day of the month</td>
        <td>&nbsp;</td>
      </tr>
    </table>  
    <% end %>
  </p>
</div>
<% @report.report_breakdowns.each do |report_breakdown| %>
  <div class="highlight span-18 last" style="margin: 5px; padding: 10px;">
    <p><strong><%=h "Objective #{report_breakdown.objective.display_name}" %></strong>
    todo: provide description field for objectives</p>
      <% if report_breakdown.breakdown_type.blank? %>
        Specific <%=h report_breakdown.objective.name %> activities included
        <% if report_breakdown.include_states %>
          <%= render :partial => 'activities/activity_with_states', :collection => @report.grouped_activities[report_breakdown.objective.number] if @report.grouped_activities[report_breakdown.objective.number]%>
        <% else %>
          <ul>
            <%= render :partial => 'activities/activity_without_states', :collection => @report.grouped_activities[report_breakdown.objective.number] if @report.grouped_activities[report_breakdown.objective.number] %>
          </ul>
        <% end %>
      <% else %>
        <% activities = {} %>
        <% @report.grouped_activities[report_breakdown.objective.number].each do |activity| %>
          <% activities[activity.send(report_breakdown.breakdown_type.underscore)] ||= [] %>
          <% activities[activity.send(report_breakdown.breakdown_type.underscore)] << activity %>
        <% end %>
        <% activities.each do |breakdown, activities| %>
        <div>
          <h6><%=h breakdown.name %></h6>
            <% activities.each do |activity| %>
              <% if report_breakdown.include_states %>
                <table class="nice_table" id="activities_table" style="width: 100%;">
                  <tr>
                    <td style="width: 20%;">
                      <%= activity.states.sort_by{|s| s.abbreviation}.collect{|s| s.abbreviation}.join(', ') %>
                    </td>
                    <td style="width: 80%;">
                      <%= activity.description%>
                    </td>
                  </tr>
                </table>
              <% else %>
                <ul>
                  <%= render :partial => 'activities/activity_without_states', :collection => @report.activities[report_breakdown.objective.number] if @report.activities[report_breakdown.objective.number] %>
                </ul>
              <% end %>
            <% end %>
        </div>
        <% end %>
      <% end %>
  </div>
<% end %>

<%= render :partial => 'sidebar' %>
