<h1>Previewing <%=h @report.name %></h1>
<div style="float: right;">
  <span class="fake_button">
    <%= link_to_if @summary_report, "Download CSV", download_report_path(@report, {:summary_report_id => @summary_report.id, :format => :csv}) %>
    <%= link_to_unless @summary_report, "Download CSV", download_report_path(@report, :format => :csv) %>
  </span>
  <span class="fake_button">
    <%= link_to_if @summary_report, "Download PDF", download_report_path(@report, {:summary_report_id => @summary_report.id, :format => :pdf}) %>
    <%= link_to_unless @summary_report, "Download PDF", download_report_path(@report, :format => :pdf) %>
  </span>
</div>
<% if @summary_report %>
<%= render :partial => 'summary_reports/preview' %>
<% end %>
<%= render :partial => 'preview' %>

<%= render :partial => 'sidebar' %>
