<h1>Previewing <%= @report.name %></h1>
<div style="float: right; padding-bottom: 15px;">
  <span class="fake_button">
    <%= 
      link_to_unless(@summary_report, "Download CSV", download_report_path(@report, :format => :csv)) do |name| 
        link_to name, download_report_path(@report, {:summary_report_id => @summary_report.id, :format => :csv}) 
      end 
    %>
  </span>
  <span class="fake_button">
    <%= 
      link_to_unless @summary_report, "Download PDF", download_report_path(@report, :format => :pdf) do |name|
        link_to name, download_report_path(@report, {:summary_report_id => @summary_report.id, :format => :pdf})
      end
    %>
  </span>
</div>
<div style="clear: both;"></div>
<%= render :partial => 'summary' %>
<%= render :partial => 'preview' %>
<%= render :partial => 'sidebar' %>
